* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

a {
  text-decoration: none;
}

/* Forum */
.forum-main {
  padding: 30px;
}

.forum-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.forum-header h1 {
  font-size: 32px;
}

.create-post-btn, .search-box button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.create-post-btn:hover, .search-box button:hover {
  background-color: #45a049;
}

/* Search Box */
.search-box {
  display: flex;
  gap: 10px;
}

.search-box input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 950px;
}

.forum-topics .topic {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.forum-topics .topic h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.view-topic-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.view-topic-btn:hover {
  background-color: #45a049;
}


